//Colors

$Orange: hsl(25, 97%, 53%);
$White: hsl(0, 0%, 100%);
$Light-Grey: hsl(217, 12%, 63%);
$Medium-Grey: hsl(216, 12%, 54%);
$Dark-Blue: hsl(213, 19%, 18%);
$Very-Dark-Blue: hsl(216, 12%, 8%);
$Greyish-Blue: hsl(211, 19%, 23%);
$Gradient1: hsl(215, 27%, 17%);
$Gradient2: hsl(220, 17%, 14%);

* {
  font-size: 15px;
  font-family: "Overpass", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $Very-Dark-Blue;

  p {
    color: $Light-Grey;
    line-height: 1.5rem;
  }

  h1 {
    font-size: 1.85rem;
    margin: 1.8rem 0 1.2rem;
    color: white;
  }
}

main {
  max-width: 25rem;
}

.rating-state,
.thank-you-card {
  background-color: $Dark-Blue;
  background: linear-gradient($Gradient1, $Gradient2);
  padding: 2rem 1.7rem;
  border-radius: 1.5rem;
}

.rating-state {
  .star-img-container {
    background-color: $Greyish-Blue;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.btn-rating {
  ul {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 1.5rem 0;
  }

  .btn {
    background-color: $Dark-Blue;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    color: $Medium-Grey;
    border: none;
    border-radius: 50%;
    padding-top: 0.2rem;
    transition: 0.3s;

    &:hover {
      background-color: $Light-Grey;
      color: $White;
      cursor: pointer;
    }

    &:focus,
    &.selected {
      background-color: $Orange;
      color: $White;
    }
  }

  .submit {
    background-color: $Orange;
    font-weight: 700;
    color: $White;
    font-weight: 700;
    width: 100%;
    border: none;
    border-radius: 2rem;
    padding: 0.8rem 0 0.7rem;
    letter-spacing: 0.2rem;
    transition: 0.3s;

    &:hover {
      background-color: $White;
      color: $Orange;
      cursor: pointer;
    }
  }
}

.thank-you-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: none;

  #rate-inform {
    background-color: $Dark-Blue;
    color: $Orange;
    padding: 0.5rem 1rem 0.2rem;
    border-radius: 2rem;
    margin-top: 1.8rem;
  }
}

footer {
  position: absolute;
  bottom: 0;
  height: 3vh;
  color: $Light-Grey;

  a {
    text-decoration: none;
    color: $Orange;
    opacity: 70%;
  }
}

@media only screen and (max-width: 699px) {
  * {
    font-size: 14px;
  }

  body {
    h1 {
      font-size: 1.7rem;
    }
  }

  main {
    max-width: 23.1rem;
  }
}
